.Wall{
    height: 50px;
    width: 50px;
    background-color: greenyellow;

}

.path{
    height: 50px;
    width: 50px;
    
}

#contamination{
    display: flex;
    flex-direction: column;
}
.Start{
    height: 50px;
    width: 50px;
    background-color:orangered
}
.Finish{
height: 50px;
width: 50px;
background-color: turquoise
}


h1{margin: auto;}

#character{
    height: 20px;
    width: 20px;
    background-color:green;
}
.rowman{
    display: flex;
}

#winner{
    display: none;

}